@media screen and (max-width: 1920px) and (min-width: 200px){
    
    body{
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        font-size: small;
        font-weight: 500;
        font-style: normal;
    }

    h2, h3 {
        font-style: normal;
    }

    p {
        color: #8A8585;
        font-size: x-small;
    }

    .header-section{
        width: 100vw;
        height: 40vh;
        top: 0;
        left:0;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        box-sizing: border-box;
        background: linear-gradient(180deg, #FF99C4 44.17%, rgba(255, 255, 255, 0.12) 100%);
    }

    .main-section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .tablito,.chica-bon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

    .minions, .brigadeiro, .morango, .kolorix{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tablito,.chica-bon, .minions, .brigadeiro, .morango, .kolorix{
        background: #FFFEFE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    .tablito{
        grid-area: tablito;
    } 
    
    .brigadeiro{
        grid-area: brigadeiro;
    }

    .kolorix{
        grid-area: kolorix;
    }

    .chica-bon{
        grid-area: chica-bon;
    }

    .morango{
        grid-area: morango;
    }

    .minions{
        grid-area:minions;
    }

    .footer-section{
        width: 100vw;
        background: rgba(244, 155, 140, 0.56);
    }

    .footer-configure{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .text{
        margin-top: 50px;
    }

    .contato{
        list-style:none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contato-items{
        display: flex;
        align-items: flex-start;
    }

    .contact-text{
        margin-left: 5px;
    }

    .contact-icons{
        display: flex;
        align-items: center;
    }

    .footer-logo{
        width: 70%;
    }

    /* Mobile Adjusts */
    @media only screen and (max-width: 560px){
        body{
            font-size: small;
        }

        .header-section{
            height: 25vh;
        }

        .header-logo{
            height: 45px;
        }
        
        .search-icon-div{
            width:30px;
            height: 30px;
            margin-top: 30px;
            background: #FFFFFF;
            border: 1px solid #8D8D8D;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            box-sizing: border-box;
        }
    
        .search-icon{
            width:18px;
            height:18px;
            padding: 5px;
        }
        
        .products{
            width: 85%;
            display: grid;
            gap: 20px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
                'tablito brigadeiro'
                'tablito kolorix'
                'morango chica-bon'
                'minions chica-bon'
            ;
            box-sizing: border-box;
            justify-content: center;
        }

        .footer-logo{
            display: none;
        }

        .footer-configure{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
        }

        .contato-items{
            display: flex;
        }

    }

    /* Web Adjusts */
    @media only screen and (min-width: 560px){
        
        .header-section{
            height: 30vh;
            padding: 10px 50px;
            box-sizing: border-box;
        }

        .header-logo{
            height: 70px;
        }
        
        .search-icon-div{
            width:40px;
            height: 40px;
            margin-top: 30px;
            background: #FFFFFF;
            border: 1px solid #8D8D8D;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            box-sizing: border-box;
        }
    
        .search-icon{
            width:25px;
            height:25px;
            padding: 5px;
        }

        .products{
            width: 70%;
            display: grid;
            gap: 30px;
            grid-template-rows: auto auto;
            grid-template-columns: auto 18% auto 18%;
            grid-template-areas: 
                'tablito brigadeiro chica-bon morango'
                'tablito kolorix chica-bon minions'
            ;
            box-sizing: border-box;
            justify-content: center;
        }

    }

}